## Problem Set 2

## Q1

In [1]:
a = 0
def b():
    global a
    a = c(a)
def c(a):
    return a + 2

In [2]:
>>> b()
>>> b()
>>> b()
>>> a

6

## Q2

In [3]:
def file_length(file_name):
    try:
        with open(file_name, 'r') as file:
            contents = file.read()
        print(len(contents))
    except FileNotFoundError:
        print(f"File {file_name} not found.")
    except Exception as e:
        print(f"An error occurred: {e}")

print("w3c.txt =")
file_length('w3c (1).txt')
file_length('midterm.py')

w3c.txt =
396
File midterm.py not found.

## Q3

In [4]:
class Marsupial:
    def __init__(self):
        self.pouch = []

    def put_in_pouch(self, item):
        self.pouch.append(item)

    def pouch_contents(self):
        return self.pouch

In [5]:
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
print(m.pouch_contents())

['doll', 'firetruck', 'kitten']

In [6]:
class Kangaroo(Marsupial):
    def __init__(self, x, y):
        super().__init__()
        self.x = x
        self.y = y

    def jump(self, dx, dy):
        self.x += dx
        self.y += dy

    def __str__(self):
        return f"I am a Kangaroo located at coordinates ({self.x},{self.y})"

In [7]:
k = Kangaroo(0, 0)
print(k) 
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(k.pouch_contents()) 
k.jump(1, 0)
k.jump(1, 0)
k.jump(1, 0)
print(k)

I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

## Q4

In [8]:
def collatz(x):
    print(x)
    if x == 1:
        return
    elif x % 2 == 0:
        collatz(x // 2)
    else:
        collatz(3 * x + 1)

In [9]:
collatz(1)

1

In [10]:
collatz(10)

10
5
16
8
4
2
1

## Q5

In [11]:
def binary(n):
    if n == 0:
        print(0, end='')
    elif n == 1:
        print(1, end='')
    else:
        binary(n // 2)
        print(n % 2, end='')

In [12]:
print("Binary of 0 is ")
binary(0)
print("  ")
print("Binary of 1 is ")
binary(1)
print("  ")
print("Binary of 3 is ")
binary(3)
print("  ")
print("Binary of 9 is ")
binary(9)

Binary of 0 is
0
Binary of 1 is
1
Binary of 3 is
11
Binary of 9 is
1001

## Q6

In [13]:
with open('w3c (1).txt', 'r') as infile:
    lines = infile.readlines()

html_content = '<html>\n<body>\n'
for line in lines:
    html_content += f'<h1>{line.strip()}</h1>\n'
html_content += '</body>\n</html>'

with open('w3c1.html', 'w') as outfile:
    outfile.write(html_content)

print("Conversion complete. HTML file 'w3c.html' has been created.")

Conversion complete. HTML file 'w3c.html' has been created.

In [14]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    def __init__(self):
        super().__init__()
        self.headings = []
        self.current_tag = ''
    
    def handle_starttag(self, tag, attrs):
        if tag in ['h1', 'h2', 'h3', 'h4', 'h5', 'h6']:
            self.current_tag = tag
    
    def handle_endtag(self, tag):
        if tag in ['h1', 'h2', 'h3', 'h4', 'h5', 'h6']:
            self.current_tag = ''
    
    def handle_data(self, data):
        if self.current_tag:
            indent = int(self.current_tag[1]) - 1
            self.headings.append(' ' * indent + data)
    
    def print_headings(self):
        for heading in self.headings:
            print(heading)

In [15]:
infile = open("w3c1.html")
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)
hp.print_headings()

Change_me
W3C Mission
 Principles

## Q7

In [16]:
import requests
from bs4 import BeautifulSoup

def webdir(url, depth, indent, visited=None, max_links=5):
    if visited is None:
        visited = set()

    if depth < 0 or url in visited:
        return
    
    visited.add(url)
    print(' ' * indent + url)
    
    try:
        response = requests.get(url)
        soup = BeautifulSoup(response.text, 'html.parser')
        links = soup.find_all('a')
        count = 0
        for link in links:
            href = link.get('href')
            if href and href.startswith('http') and count < max_links:
                count += 1
                webdir(href, depth - 1, indent + 2, visited, max_links)
    except requests.exceptions.RequestException as e:
        print(f"Error: {e}")

webdir('https://www.youtube.com', 2, 0)

https://www.youtube.com
  https://www.youtube.com/about/
    https://www.youtube.com/howyoutubeworks/
    https://www.youtube.com/creators/
    https://www.youtube.com/trends/
    https://blog.youtube/
    https://twitter.com/YouTube
  https://www.youtube.com/about/press/
    https://blog.youtube/inside-youtube/work-diaries-on-the-ground-at-vidcon-with-julia-lee-harter/
    https://blog.youtube/inside-youtube/
    https://blog.youtube/creator-and-artist-stories/renes-top-five-june-28-2024/
  https://www.youtube.com/about/copyright/
    https://research.youtube
    https://support.google.com/youtube/answer/3376882
    https://support.google.com/youtube/answer/10623810
    https://support.google.com/youtubecreatormusic
    https://support.google.com/youtube/answer/9783148?hl=en
  https://www.youtube.com/ads/
    https://studio.youtube.com/channel/c/content/promotions
    https://ads.google.com/signup

## Q8

In [17]:
import sqlite3

conn = sqlite3.connect('weather.db')
cursor = conn.cursor()

cursor.execute('''
    CREATE TABLE IF NOT EXISTS Weather (
        City TEXT,
        Country TEXT,
        Season TEXT,
        Temperature REAL,
        Rainfall REAL
    )
''')

cursor.executemany('''
    INSERT INTO Weather (City, Country, Season, Temperature, Rainfall) VALUES (?, ?, ?, ?, ?)
''', [
    ('Mumbai', 'India', 'Winter', 24.8, 5.9),
    ('Mumbai', 'India', 'Spring', 28.4, 16.2),
    ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
    ('Mumbai', 'India', 'Fall', 27.6, 346.0),
    ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
    ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
    ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
    ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
    ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
    ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
    ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
    ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
])

In [18]:
conn.commit()

def run_query(query):
    cursor.execute(query)
    for row in cursor.fetchall():
        print(row)

In [19]:
print("All the temperature data:")
run_query("SELECT Temperature FROM Weather")

All the temperature data:
(24.8,)
(28.4,)
(27.9,)
(27.6,)
(4.2,)
(8.3,)
(15.7,)
(10.4,)
(13.6,)
(20.7,)
(27.7,)
(22.2,)
(24.8,)
(28.4,)
(27.9,)
(27.6,)
(4.2,)
(8.3,)
(15.7,)
(10.4,)
(13.6,)
(20.7,)
(27.7,)
(22.2,)
(24.8,)
(28.4,)
(27.9,)
(27.6,)
(4.2,)
(8.3,)
(15.7,)
(10.4,)
(13.6,)
(20.7,)
(27.7,)
(22.2,)
(24.8,)
(28.4,)
(27.9,)
(27.6,)
(4.2,)
(8.3,)
(15.7,)
(10.4,)
(13.6,)
(20.7,)
(27.7,)
(22.2,)
(24.8,)
(28.4,)
(27.9,)
(27.6,)
(4.2,)
(8.3,)
(15.7,)
(10.4,)
(13.6,)
(20.7,)
(27.7,)
(22.2,)
(24.8,)
(28.4,)
(27.9,)
(27.6,)
(4.2,)
(8.3,)
(15.7,)
(10.4,)
(13.6,)
(20.7,)
(27.7,)
(22.2,)

In [20]:
print("\nAll the cities, but without repetition:")
run_query("SELECT DISTINCT City FROM Weather")

All the cities, but without repetition:
('Mumbai',)
('London',)
('Cairo',)

In [21]:
print("\nAll the records for India:")
run_query("SELECT * FROM Weather WHERE Country = 'India'")

All the records for India:
('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)

In [22]:
print("\nAll the Fall records:")
run_query("SELECT * FROM Weather WHERE Season = 'Fall'")

All the Fall records:
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

In [23]:
print("\nThe city, country, and season for which the average rainfall is between 200 and 400 millimeters:")
run_query("""
    SELECT City, Country, Season 
    FROM Weather 
    GROUP BY City, Country, Season 
    HAVING AVG(Rainfall) BETWEEN 200 AND 400
""")

The city, country, and season for which the average rainfall is between 200 and 400 millimeters:
('London', 'United Kingdom', 'Fall')
('London', 'United Kingdom', 'Winter')
('Mumbai', 'India', 'Fall')

In [24]:
print("\nThe city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order:")
run_query("""
    SELECT City, Country 
    FROM Weather 
    WHERE Season = 'Fall' 
    GROUP BY City, Country 
    HAVING AVG(Temperature) > 20 
    ORDER BY AVG(Temperature)
""")

The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order:
('Cairo', 'Egypt')
('Mumbai', 'India')

In [25]:
print("\nThe total annual rainfall for Cairo:")
run_query("SELECT SUM(Rainfall) AS TotalAnnualRainfall FROM Weather WHERE City = 'Cairo'")

The total annual rainfall for Cairo:
(165.59999999999997,)

In [26]:
print("\nThe total rainfall for each season:")
run_query("SELECT Season, SUM(Rainfall) AS TotalRainfall FROM Weather GROUP BY Season")

The total rainfall for each season:
('Fall', 3414.0)
('Spring', 1153.8000000000002)
('Summer', 10239.0)
('Winter', 1380.6)

In [27]:
conn.close()

## Q9

In [28]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
uppercase_words = [word.upper() for word in words]
print(uppercase_words)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [29]:
lowercase_words = [word.lower() for word in words]
print(lowercase_words)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [30]:
word_lengths = [len(word) for word in words]
print(word_lengths)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [31]:
word_details = [[word.upper(), word.lower(), len(word)] for word in words]
print(word_details)

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

In [32]:
words_with_4_or_more_chars = [word for word in words if len(word) >= 4]
print(words_with_4_or_more_chars)

['quick', 'brown', 'jumps', 'over', 'lazy']